.hero{
    background-color: var(--bg-secondary);
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 1fr;
    grid-template-rows:  repeat(4, min-content);
    grid-template-areas: 
    "title"
    "image"
    "one"
    "two"
    "three";
    width: 100%;
    padding: 5rem;
    gap: 5rem;
}

.hero img{
    width: 500px;
    grid-area: image;
}

.hero h1{
    grid-area: title;
    font-size: 3rem;
    color: var(--accent);
}

.one, .two, .three{
    font-size: 1.5rem;
    text-justify: distribute;
    text-align: justify;
}

.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

@media (min-wdth: 700px) {

    .hero{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:  repeat(1, 1fr);
        grid-template-areas: 
        " . title ."
        "one image three"
        ". two .";
    }
}