.header{
    display: flex;
    align-items: center;
    justify-items: stretch;
    place-content: space-between;
    margin: 0 0 0 0;
    box-shadow: var(--shadow);
}

.footer-info{
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0 0 1rem 0;
}

.footer{
    background-color: var(--accent);
    color: var(--text);
    margin: auto 0 0 0;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.logo{
    height: 40px;
    margin: auto;
    cursor: pointer;
}

@media (min-width: 700px) {
    
    .footer-list{
        gap: 0;
    }

    .logo{
        height: 50px;
        margin: auto auto auto 2rem;
    }
}