.header{
    display: flex;
    align-items: center;
    justify-items: stretch;
    place-content: space-between;
    margin: 0 0 1rem 0;
    box-shadow: var(--shadow);
}

.footer{
    background-color: var(--accent);
    color: var(--text);
    margin: auto 0 0 0;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
}

.logo{
    height: 50px;
    margin: auto auto auto 2rem;
    cursor: pointer;
}