.cart-button{
    background-color: var(--none);
    padding: 1rem;
    display: flex;
    cursor: pointer;
}

.cart-button>img{
    height: 30px;
    cursor: inherit;
}

.count{
    display: flex;
    place-items: center;
    place-content: center;
    cursor: inherit;
    background-color: var(--accent);
    font-size: .6rem;
    min-width: 1.2rem;
    height: 1.2rem;
    border-radius: 5rem;
    margin: auto auto -1rem -1rem;
    font-weight: bold;
    box-shadow: var(--shadow);
}

@media (min-width: 700px) {
    
    .cart-button>img{
        height: 40px;
    }

    .count{
        font-size: .8rem;
        padding: .5rem;
        min-width: 1.5rem;
        height: 1.5rem;
    }
}