.cart-overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: var(--overlay);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.cart-container{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: var(--bg-primary);
    box-shadow: var(--shadow);
    width: 70%;
    height: 100%;
    padding: 1rem;
    gap: 2rem;
}

.cart-items{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    gap: 1rem;
    padding: 1rem;
}

.title{
    font-size: 2rem;
}

.empty{
    color: var(--text-placeholder);
    font-size: 1.3rem;
}

.header{
    display: flex;
    justify-content: space-between;
}

.cart-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.controls-button{
    width: 100%;
}