.cart-item-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    place-items: stretch;
    place-content: stretch;
    gap: 1rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    background-color: var(--bg-secondary);
    padding: 3rem;
}

.thumb{
    grid-row-start: 1;
    grid-row-end: -2;
    place-self: center;
}

.title{
    color: var(--text);
    font-size: 1.2rem;
    place-self: flex-start;
    cursor: pointer;
}

.total{
    font-size: 1.5rem;
    display: flex;
    gap: 1rem;
    margin: auto 0 0 0;
}

@media (min-width: 700px) {
    
    .cart-item-container{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, min-content);
        padding: 1rem;
    }
}