.icon-button{
    background-color: var(--none);
    cursor: pointer;
    padding: .5rem;
}

.icon-button>img{
    height: 30px;
    cursor: inherit;
}

@media (min-width: 700px) {
    
    .icon-button>img{
        height: 40px;
    }
}