@font-face {
  font-family: DM-sans;
  src: url("../assets/fonts/DM_sans.ttf");
}

:root {
  font-family: DM-sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  position: relative;
  min-height: 100dvh;
  background-color: var(--bg-primary);
  display: flex;
  place-items: stretch;
}

#root{
  display: flex;
  flex-direction: column;
  width: 100%;
}
