.nav-backdrop{
    composes: cart-backdrop from "./Cart.module.css";
    z-index: 9999;
}

.nav-container{
    will-change: transform;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary);
    height: 100%;
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    gap: 3rem;
    animation-name: nav-fade-in;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    align-content: center;
}

.nav-title{
    font-size: 1.2rem;
}

.nav-list{
    display: flex;
    flex-direction: column;
}

.nav-item{
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    color: var(--text);
}

.active{
    background-color: var(--accent);
}

@keyframes nav-fade-in {
    
    0%{
        transform: translateX(-100dvw);
    }

    100%{
        transform: translateX(0);
    }
}