.nav-container{
    display: flex;
}

.nav-item{
    font-size: 1.5rem;
    color: var(--text);
    cursor: pointer;
    padding: 2rem;
}

.active{
    background-color: var(--accent);
    transition-duration: .2s;
}

li{
    display: flex;
}