.select-input{
    padding: 1rem;
    border-radius: 2rem;
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow);
    width: 30%;
    cursor: pointer;
}

.select-input:focus{
    outline: auto;
    outline-color: var(--accent);
}