.select-input{
    padding: .3rem;
    border-radius: 2rem;
    background-color: var(--bg-primary);
    border: solid var(--text) 1px;
    width: 31%;
    cursor: pointer;
    transition-duration: .3s;
}

.select-input:focus{
    outline: auto;
    outline-color: var(--accent);
    background-color: var(--bg-secondary);
    box-shadow: var(--shadow);
}