.items-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    padding: 2rem;
    margin: 0 0 10rem 0;
}

.controls-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}