.shop-item{
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    background-color: var(--bg-secondary);
    padding: 2rem;
    gap: 2rem;
    cursor: pointer;
}

.shop-item:hover{
    box-shadow: var(--shadow-accent);
    transition-duration: .2s;
}

.shop-item>img{
    cursor: inherit;
    max-height: 200px;
}

.shop-item>h2{
    cursor: inherit;
    text-align: center;
    font-size: 1rem;
}

.details{
    cursor: inherit;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.in-cart{
    cursor: inherit;
    filter: var(--filter-accent);
    height: 2rem;
}